body {
  padding: 0;
  margin: 0;
  text-align: center;

  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: rgb(51, 51, 51);
}

main,
header,
footer {
  display: block;
}

a.box img {
  height: 150px;
  border: 3px solid #FC8302;
  box-shadow: 0px 0px 8px rgba(0,0,0,.3);
  margin: 20px;
}

.box-target {
  position: fixed;
  top: -100%;
  width: 100%;
  background: rgba(0,0,0,.7);
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
  overflow: hidden;
}

.box-target img {
  margin: auto;
  position: absolute;
  top: 0;
  left:0;
  right:0;
  bottom: 0;
  max-height: 0%;
  max-width: 0%;
  border: 3px solid white;
  box-shadow: 0px 0px 8px rgba(0,0,0,.3);
  box-sizing: border-box;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

a.box-title {
  display: block;
  padding: 10px;
  left: 0;
  top: -80px;
  background: #FC8302;
  color: rgb(51, 51, 51);
  text-decoration: none;
  position: absolute;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

a.box-close {
  display: block;
  width:50px;
  height:50px;
  box-sizing: border-box;
  background: #FC8302;
  text-decoration: none;
  position: absolute;
  top: -80px;
  right: 0;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

a.box-close:before {
  content: "";
  display: block;
  height: 30px;
  width: 1px;
  background: black;
  position: absolute;
  left: 26px;
  top:10px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -o-transform:rotate(45deg);
  transform:rotate(45deg);
}

a.box-close:after {
  content: "";
  display: block;
  height: 30px;
  width: 1px;
  background: black;
  position: absolute;
  left: 26px;
  top:10px;
  -webkit-transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  -o-transform:rotate(-45deg);
  transform:rotate(-45deg);
}

.box-target:target {
  opacity: 1;
  top: 0;
  bottom: 0;
}

.box-target:target img {
  max-height: 100%;
  max-width: 100%;
}

.box-target:target a.box-title,
.box-target:target a.box-close {
  top: 0px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #FC8302;
}

footer a {
  color: rgb(51, 51, 51);
  text-decoration: none;
  font-weight: 800;
}

@media only screen and (max-width: 300px) {
  a.box img {
    margin-left: 0;
    margin-right: 0;
  }

  footer {
    position: relative;
  }
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: #FC8302;
}

::-webkit-scrollbar-track {
  background-color: #EEE;
}